{% extends "base.html"%}
{% block title %}
{% endblock %}
{% block content %}
<iframe src="https://www.google.com/maps/d/embed?mid=1AgyqXERQnLRjHyB2upji924UhFhT7AVx" width="1100" height="480"></iframe>
{% endblock %}
<!-- <!doctype html>
<html> 
  <head> 
    <link rel="stylesheet" href="style.css"> </link>
    <h1>Bench Finder</h1>

  </head>

<body>
  <h1>Map of Cornell!</h1>
  <iframe src="https://www.google.com/maps/d/embed?mid=1AgyqXERQnLRjHyB2upji924UhFhT7AVx" width="1100" height="480"></iframe>

  
</body> 
</html> -->
